<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="pt-BR" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="zh" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>java decompiler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="java decompiler,apk decompiler"/>
    <meta name="keywords" content="java decompiler,apk decompiler,中等专业学校,中专选择,中专是什么,中专职高技校区别,中专有哪些专业,中专职高区别,中专高中的区别,中专学校推荐,中专学校排名,如何选择中专"/>
    <meta property="og:title" content="java decompiler">
    <meta property="og:description" content="">
    <meta property="og:locale" content="pt-BR">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.freegoodtools.com">
    <meta property="og:site_name" content="java decompiler">
    <meta property="og:width" content="1024">
    <meta property="og:height" content="1024">
{#    <meta property="og:image" content="https://airangyi.com/static/images/logo.png">#}
    <meta name="twitter:card" content="java decompiler"/>
    <meta name="twitter:title" content="java decompiler"/>
    <meta name="twitter:description" content="java decompiler"/>
{#    <meta name="twitter:image" content="https://airangyi.com/static/images/logo.png">#}

    <!-- favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap_back.min.css" rel="stylesheet" type="text/css"/>
    <!-- Icons -->
    <link href="/static/css/materialdesignicons.min.css" rel="stylesheet" type="text/css"/>
    <!-- Main Css -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" id="theme-opt"/>
    <link href="/static/css/colors/default.css" rel="stylesheet" id="color-opt">
     <link href="/static/css/app.css" rel="stylesheet">

    <!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->
    <!--<link rel="icon" type="/static/image/png" sizes="32x32" href="/favicon-32x32.png">-->
    <!--<link rel="icon" type="/static/image/png" sizes="16x16" href="/favicon-16x16.png">-->
    <meta name="sogou_site_verification" content="os2XnnOEVp"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
   <meta name="sogou_site_verification" content="os2XnnOEVp"/>

    {% include 'includes/googlescript.html' %}
</head>

<body>
{% include 'includes/header.html' %}

<section class="bg-half bg-light d-table w-100" style="padding: 100px 0 35px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h1 class="title">Online decompile apk, aab, jar, class</h1>
                    <h2 class="anytext-h2 text-muted">请上传.apk、.class或者.jar文件</h2>
                    <div class="mt-3">
                        <div class="mt-3">
                        <a href="/upload" class="btn anytext-button" title="中专学校-帮我选择学校" target="_blank"
                           style="padding-top: 10px!important"><i class="mdi mdi-lead-pencil"></i>在线反编译</a>
                        <a href="/download" class="btn anytext-button" title="中专学校-帮我选择专业" target="_blank"
                           style="padding-top: 10px!important"><i class="mdi mdi-chevron-down"></i>下载反编译工具</a>
                    </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->


<section id="next" class="section" style="padding-top: 30px;">
    <!-- 信息资讯-->
    <div class="container mt-40">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
                <a href="/page/newsMain"  class="text-muted" title="APK信息" target="_blank">
                <img src="/static/images/index/android-logo.png" class="img-fluid mx-auto d-block"
                     style="height:100px;width:100px; align-text:center" alt="APK信息">
                    </a>
            </div><!--end col-->

            <div class="col-lg-8 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title ms-lg-5">
                    <h4 class="title mb-4">Apktool Downloads</h4>
                    <a href="/page/newsMain"  class="text-muted" title="APK信息" target="_blank"><p class="text-muted">Apktool Downloads.</p></a>
                    <ul class="list-unstyled text-muted">

                    </ul>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->


    <!--  学校推荐 -->
    <div class="container mt-40">
        <div class="row align-items-center" style="padding-top: 30px">
            <div class="col-lg-4 col-md-6 order-1 order-md-2">
                <a href="/page/aiChooseSchool"  class="text-muted" title="中等专业学校-帮我选择学校" target="_blank">
                <img src="/static/images/index/smail-logo.png" class="img-fluid mx-auto d-block"
                     style="height:100px;width:100px; align-text:center" alt="中等专业学校-帮我选择学校">
                </a>
            </div><!--end col-->

            <div class="col-lg-8 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                  <div class="section-title ms-lg-5" style="align:right">
                    <h4 class="title mb-4">Smail2Java downloads</h4>
                    <a href="/page/aiChooseSchool"  class="text-muted" title="中等专业学校-帮我选择学校" target="_blank">
                      <p class="text-muted"><span class="text-primary h5 me-2">
                          <i class="mdi mdi-check-circle-outline align-middle">
                              Smail2Java downloads.
                          </i>
                      </span>
                      </p>
                    </a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->




    <div class="container mt-100 mt-60">
        <div class="row align-items-center" style="padding-top: 30px">
            <div class="col-lg-4 col-md-6">
                 <a href="/page/aiChooseSchool"  class="text-muted" title="中等专业学校-智能专业推荐" target="_blank">
                <img src="/static/images/index/java-logo.png" class="img-fluid mx-auto d-block"
                     style="height:100px;width:100px; align-text:center" alt="中等专业学校-智能专业推荐">
                 </a>
            </div><!--end col-->

             <div class="col-lg-8 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">class tools downloads</h4>
                     <a href="/page/aiChooseSchool"  class="text-muted" title="中等专业学校-智能专业推荐" target="_blank">
                         <p class="text-muted">class tools downloads</p>
                     </a>
                    <ul class="list-unstyled text-muted">
                         <a href="/page/aiChooseSchool"  class="text-muted" title="中等专业学校-智能专业推荐" target="_blank">
                        <li class="mb-0"><span class="text-primary h5 me-2"><i
                                class="mdi mdi-check-circle-outline align-middle">class tools downloads</i></span>

                        </li>
                         </a>
                    </ul>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-60">
        <div class="row">
            <div class="col-12 mt-4 pt-2">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-events" role="tabpanel"
                         aria-labelledby="events-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <ul class="list-unstyled mt-4 mb-0">
                                    <li class="mt-2"><a href="#"
                                                        class="text-muted"><i
                                            class="mdi mdi-arrow-right text-primary me-2"></i>未来最吃香的专业</a></li>
                                    <li class="mt-2"><a href="#"
                                                        class="text-muted"><i
                                            class="mdi mdi-arrow-right text-primary me-2"></i>
                                        未来最吃香的专业</a></li>
                                </ul>
                            </div><!--end col-->

                            <div class="col-lg-4 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <ul class="list-unstyled mt-4 mb-0">
                                    <li class="mt-2"><a href="#"
                                                        class="text-muted"><i
                                            class="mdi mdi-arrow-right text-primary me-2"></i>未来最吃香的专业</a></li>
                                    <li class="mt-2"><a href="#"
                                                        class="text-muted"><i
                                            class="mdi mdi-arrow-right text-primary me-2"></i>未来最吃香的专业</a></li>

                                </ul>
                            </div><!--end col-->

                            <div class="col-lg-4 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0 pt-2">
                                <ul class="list-unstyled mt-4 mb-0">
                                    <li class="mt-2"><a href="#"
                                                        class="text-muted"><i
                                            class="mdi mdi-arrow-right text-primary me-2"></i>未来最吃香的专业</a></li>
                                    <li class="mt-2"><a href="#"
                                                        class="text-muted"><i
                                            class="mdi mdi-arrow-right text-primary me-2"></i>未来最吃香的专业</a></li>

                                </ul>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end teb pane-->
                </div><!--end tab content-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section>

{% include 'includes/footer.html' %}
<a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-light back-to-top"><i
        class="mdi mdi-arrow-up"></i></a>

{% include 'includes/scripts.html' %}
<meta name="theme-color" content="#ffffff">

</body>
</html>