<title>java decompiler</title>
    <meta name="keywords"
            content="java decompiler,class decompiler,jar decompiler,.class to .java,class to java,apk decompiler,decompile apk,apk decompiler online,class to java converter online,decompile class file"/>
    <meta name="description"
          content="java decompiler,class decompiler,jar decompiler,.class to .java,class to java,apk decompiler,decompile apk,apk decompiler online,class to java converter online,decompile class file"/>
    <meta name="author" content="helloworldbmw"/>
    <link rel="base" href="https://decompiler.freegoodtools.com/java_Decompilers.html"/>
    <link rel="canonical" href="https://decompiler.freegoodtools.com/java_Decompilers.html"/>
    <meta rel="sitemap" type="application/xml" content="https://decompiler.freegoodtools.com/sitemap.xml"/>
    <meta name="robots" content="index/follow"/>
    <meta name="googlebot" content="index/follow"/>
    <meta name="theme-color" content="#be69c9"/>
    <meta name="msapplication-navbutton-color" content="#be69c9"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#be69c9"/>
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="java decompiler"/>
    <meta itemprop="description"
          content="java decompiler,class decompiler,.class to .java,class to java,class to java converter online,decompile class file"/>
    <meta itemprop="image" content="https://decompiler.freegoodtools.com/static/images/logo.png"/>
    <!-- markup for facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="java decompiler"/>
    <meta property="og:url" content="https://decompiler.freegoodtools.com/java_Decompilers.html"/>
    <meta property="og:site_name" content="https://decompiler.freegoodtools.com/java_Decompilers.html"/>
    <meta property="og:image" content="https://decompiler.freegoodtools.com/static/images/logo.png"/>
    <meta property="og:description"
          content="java decompiler,class decompiler,.class to .java,class to java,class to java converter online,decompile class file"/>
    <meta property="og:locale" content="en_us"/>
    <meta property="fb:app_id" content="https://www.facebook.com/profile.php?id=100059859583766"/>
    <meta property="fb:admins" content="https://www.facebook.com/profile.php?id=100059859583766"/>
    <!-- markup for twitter -->
    <meta name="twitter:card" content="Summary"/>
    <meta name="twitter:title" content="java decompiler"/>
    <meta name="twitter:description"
          content="java decompiler,class decompiler,.class to .java,class to java,class to java converter online,decompile class file"/>
    <meta name="twitter:creator" content="helloworldbmw"/>
    <meta name="twitter:image" content="https://decompiler.freegoodtools.com/static/images/logo.png"/>
    <!-- JSON-LD - structured data markup Google Search -->
    <script type="application/ld+json">
    {"@context":"http://www.schema.org","@type":"website","name":"java decompiler","url":"https://decompiler.freegoodtools.com/java_Decompilers.html","alternateName":"https://decompiler.freegoodtools.com/java_Decompilers.html"}
    </script>