<title>Procyon downloads</title>
<meta name="keywords" content="Procyon,JDCore,apktools,jad,jadx,apktool android"/>
<meta name="description" content="Procyon,JDCore,apktools,jad,jadx,apktool android"/>
<meta name="author" content="helloworldbmw"/>
<link rel="base" href="https://decompiler.freegoodtools.com/download_jad.html"/>
<link rel="canonical" href="https://decompiler.freegoodtools.com/download_jad.html"/>
<meta rel="sitemap" type="application/xml" content="https://decompiler.freegoodtools.com/sitemap.xml"/>
<meta name="robots" content="index/follow"/>
<meta name="googlebot" content="index/follow"/>
<meta name="theme-color" content="#ec55e0"/>
<meta name="msapplication-navbutton-color" content="#ec55e0"/>
<meta name="apple-mobile-web-app-status-bar-style" content="#ec55e0"/>
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Procyon downloads"/>
<meta itemprop="description" content="Procyon,JDCore,apktools,jad,jadx,apktool android"/>
<meta itemprop="image" content="https://decompiler.freegoodtools.com/static/images/logo.png"/>
<!-- markup for facebook -->
<meta property="og:type" content="website"/>
<meta property="og:title" content="Procyon downloads"/>
<meta property="og:url" content="https://decompiler.freegoodtools.com/download_jad.html"/>
<meta property="og:site_name" content="decompiler.freegoodtools.com"/>
<meta property="og:image" content="https://decompiler.freegoodtools.com/static/images/logo.png"/>
<meta property="og:description" content="Procyon,JDCore,apktools,jad,jadx,apktool android"/>
<meta property="og:locale" content="en_us"/>
<meta property="fb:app_id" content="100059859583766"/>
<meta property="fb:admins" content="100059859583766"/>
<!-- markup for twitter -->
<meta name="twitter:card" content="Summary"/>
<meta name="twitter:title" content="Procyon downloads"/>
<meta name="twitter:description" content="Procyon,JDCore,apktools,jad,jadx,apktool android"/>
<meta name="twitter:creator" content="helloworldbmw"/>
<meta name="twitter:image" content="https://decompiler.freegoodtools.com/static/images/logo.png"/>
<!-- JSON-LD - structured data markup Google Search -->
<script type="application/ld+json">
{"@context":"http://www.schema.org","@type":"website","alternateName":"https://decompiler.freegoodtools.com/download_jad.html","url":"https://decompiler.freegoodtools.com/download_jad.html","name":"Procyon downloads"}
</script>



