{% load static %}
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="/java_Decompilers.html" title="java decompilers">
                <img src="{% static 'images/logo.png' %}" height="26" alt="java decompilers">
            </a>
        </div>
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a href="/java_Decompilers.html" class="sub-menu-item" title="JAVA Decompile">JAVA Decompilers</a></li>
                <li><a href="/apk_Decompilers.html" class="sub-menu-item" title="APK Decompile">APK Decomplie</a></li>

                <li><a href="/download_jad.html" class="sub-menu-item" title="Decompile tool download" target="_blank">jad download</a></li>
                <li class="has-submenu parent-menu-item">
                    <a href="#" title="language" target="_blank">language</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="#" title="English">English</a></li>
                        <li><a href="#" title="French">French</a></li>
                        <li><a href="#" title="Japanese">Japan</a></li>
                    </ul>
                </li>
            </ul>
            <!--end navigation menu-->
        </div>
        <!--end navigation-->
    </div>
    <!--end container-->

</header>
<!--end header-->
<!-- Navbar End -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HTC2GJPSN1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-HTC2GJPSN1');
</script>